.landing{
  font-family: "League Spartan", sans-serif;
}

.doc-logo {
  width: 160px; 
  height: auto;
  margin: 0 auto;
  display: block;
}

.para-logo{
  width: 280px;
  margin-top: 0 !important;
}

.spacing{
  margin-top: 3rem !important; 
}

.btn{
  padding: 8px 24px;
  border-radius: 50px;
}

.globe-img {
  animation: spin 3.8s ease-in-out infinite alternate; 
}

.sponsers{
  width: 100%;
  max-width: 40px;
  margin-top: 3px;
}

.partners{
  width: 100%;
  max-width: 6rem;
}

.poster{
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(-5deg);  
  }
  to {
    transform: rotate(5deg);  
  }
}
