
.InquiryModal{
  color: black;

   @media only screen and (max-width: 600px) {
   
  }
}

.counterTabsMBtn {
  background-color: transparent;
  padding-inline: 2rem !important;
  padding-block: 0.8rem !important;
  width: 100%;
  text-align: center;
  color: #ffffff !important ;

  padding: 0.2rem !important;
}

.counterMBtn {
  background-color: rgb(10, 10, 10);
  padding-inline: 2rem !important;
  padding-block: 0.8rem !important;
  width: 80%;
  text-align: center;
  border-radius: 25px;
  border: 1px solid rgb(187, 46, 69);
  padding: 0.2rem !important;
}
  